* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    color: #fff;
}


nav {
    background-color: yellow;
    color: black;
    font-size: 25px;
    width: 600px;
    height: auto;
    padding: 15px;
    border-radius: 30px;
    margin: 0 500px 0 0;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    color: #ff3511;
    background-color: #fff;
}